.border {
  border: 0.5rem solid;
}
/* ------------------------------------------1------------------------------------------- */
.Function_Container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Function_each {
  width: 90%;

  display: flex;
  justify-content: center;
  /* align-items: ; */
  flex-direction: row;
}
.Function_each_reverse {
  width: 90%;

  display: flex;
  justify-content: center;
  /* align-items: ; */
  flex-direction: row-reverse;
}
/* ------------------------------------------1------------------------------------------- */

/* ------------------------------------------2------------------------------------------- */
.LEFT {
  width: 50%;
  border: 0.5rem solid;
  border-right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(189, 199, 219, 0.3);
}
.RIGHT {
  width: 50%;
  border: 0.5rem solid;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------2------------------------------------------- */

/* ------------------------------------------3------------------------------------------- */
.article {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

/* -------------------------------------image*/
.image {
  /* object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
}

.image > img {
  max-width: 70%;
  /* max-height: 5%; */
}

.resized_image {
  /* object-fit: contain; */
  max-width: 50%;
  max-height: 100%;
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
}
.resized_image > img {
  max-width: 100%;
  /* max-height: 5%; */
}
/* -------------------------------------image*/

.testInsideImg {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testInsideImg > div {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.testInsideImg_header {
  font-family: Fantasy;
}
.testInsideImg_content {
}

/* ------------------------------------------3------------------------------------------- */

@media screen and (max-width: 600px) {
  .Function_Container {
    /* overflow: hidden; */
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Function_each {
    width: 90%;

    display: flex;
    justify-content: center;
    /* align-items: ; */
    flex-direction: column;
  }
  .Function_each_reverse {
    width: 90%;

    display: flex;
    justify-content: center;
    /* align-items: ; */
    flex-direction: column-reverse;
  }

  .LEFT {
    width: 100%;
    border: 0.5rem solid;
  }
  .RIGHT {
    width: 100%;
    border: 0.5rem solid;
  }

  .testInsideImg > div {
    font-size: 1.6rem;
  }
  /* .image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50%;
    margin-left: -50%;

  } */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .Function_Container {
    /* overflow: hidden; */
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Function_each {
    width: 90%;

    display: flex;
    justify-content: center;
    /* align-items: ; */
    flex-direction: column;
  }
  .Function_each_reverse {
    width: 90%;

    display: flex;
    justify-content: center;
    /* align-items: ; */
    flex-direction: column-reverse;
  }

  .LEFT {
    width: 100%;
    border: 0.5rem solid;
  }
  .RIGHT {
    width: 100%;
    border: 0.5rem solid;
  }

  .testInsideImg > div {
    font-size: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
