.button_Size {
  max-width: 30rem;
  min-width: 30rem;
  max-height: 10rem;
  min-height: 10rem;
}

.button_fontStyle {
  font-size: 2rem;
  color: rgb(241, 246, 249);

  /* border: 0.5rem solid;
  border-color: blueviolet;
  border-radius: 2rem; */

  width: 100%;
}

.buttonsGroup {
  background-color: rgb(57, 72, 103);

  max-width: 20rem;
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button_Size {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 4rem;
    min-height: 4rem;
  }

  .button_fontStyle {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button_Size {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 4rem;
    min-height: 4rem;
  }
  .button_fontStyle {
    font-size: 1.2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button_Size {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 4rem;
    min-height: 4rem;
  }
  .button_fontStyle {
    font-size: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .button_Size {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 4rem;
    min-height: 4rem;
  }
  .button_fontStyle {
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button_Size {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 4rem;
    min-height: 4rem;
  }
  .button_fontStyle {
    font-size: 1.5rem;
  }
}
