.App {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */

  background-color: #282c34;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;

  width: 90%;
  position: absolute;

  left: auto;
  /* -----------------------Visualize the AREA--------------------------- */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    top: 0rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    top: 0rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    top: -0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    top: -3.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    top: -6.5rem;
  }
}
